.navabar-brand {
  font-weight: 700;
  font-size: 1.8rem;
  color: white;

}

.colored-text {
  color: #FF5722;
}

.nav-link {
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: white;
}

.navbar {
  background: #10375c !important;
}

.lim-width {
  width: 45% !important;
}