body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#profileImageNav button:active,
#profileImageNav button:focus,
#profileImageNav a:focus,
#profileImageNav a:active,
#profileImageNav a:focus,
.show,
.dropdown-toggle,
#profileImageNav a:active {
  outline: none;
  border: none;
}