.homeCard {
    width: 22%;
    height: 300px;
}

.house-image-container {
    height: 100%;
}

.house-image-container img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.house-text-container h4 {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 29px;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.house-text-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.04em;
    color: #036FD4;
}